<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace - FoodShare</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- ShareFood CSS -->
    <link rel='stylesheet' href='styles/sharefood.css'>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Vue JS -->
    <script src="https://unpkg.com/vue@next"></script>

</head>


<body id="page-top">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light pink-bg m-0 p-0">
        <div class="container-fluid">
            <a class="navbar-brand m-0 p-0" href="./about.html">
                <img src="assets/logo.png" alt="" width="250">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mx-1" href="donate.html">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 active" href="#page-top">Marketplace</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1" href="knowledge.html">Knowledge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1" href="about.html">About Us</a>
                    </li>
                </ul>

                <span class="flex-row flex-wrap ms-md-auto mb-2"></span>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-1 logged-out">
                        <a class="nav-link" href="login.html">
                            <button type='button' class='btn btn-outline-dark fs-5 fw-bold'>Login</button>
                        </a>
                    </li>
                    <li class="nav-item px-1 logged-in">
                        <a class="nav-link" href="profile.html">
                            <button type='button' class='btn btn-outline-dark fs-5 fw-bold'>My Profile</button>
                        </a>
                    </li>
                    <li class="nav-item px-1 logged-in">
                        <a class="nav-link">
                            <button type='button' class='btn btn-outline-dark fs-5 fw-bold' id="logout">Log Out</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sharefood App -->
    <div id="sharefood-app" class="sharefood">
        <!-- Typing Title -->
        <section class="header p-5 pink-bg">
            <div class="container-fluid">
                <typing-title></typing-title>
            </div>
        </section>
        <div class="spacer layer1 flip"></div>

        <!-- Search -->
        <div class="container-lg px-5 pb-5" id="featuredCard">
            <div id="recipeArea"></div>
        </div>
        <div class="container-lg">
            <div class="text-center pb-5">
                <a href="post.html">
                    <button class="btn btn-outline-warning fs-4">
                        List My Item
                    </button>
                </a>
            </div>  
            <div class="row justify-content-center">
                <div class="input-group">
                    <input type="search" id="userInput" v-model="userInput" class="form-control" placeholder="Search Item"/>
                    <button type="button" class="btn btn-primary" v-on:click="onSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Food Cards -->
        <div class="container-lg">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3 mt-4" id='foodCards'>
                <listings v-for="list in cards" :list="list"></listings>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class='spacer layer1'></div>
    <div style="background-color: #f7caca; margin-bottom: 0;">
        <footer class="container">
        <p class="float-end" style="margin-bottom: 0;"><a href="#page-top" class="text-dark">Back to Top</a></p>
        <p class="text-dark pb-2" style="margin-bottom: 0;">© FoodShare</p>
        </footer>
    </div>

    <!-- Authentication JS -->
    <script type="module" src="scripts/auth.js"></script>

    <script type='module' src='scripts/sharefood.js'></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>

</html>