html {
    background-color: #202731;
}

body {
    background-color: #202731;
    font-family: 'Inter', sans-serif;
}

#sentence {
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../assets/layer1.svg');
    height: 150px;
    transform: rotate(180deg);
}

.layer2 {
    background-image: url('../assets/layer2.svg');
    height: 300px;
}

/* onwards is from ian */
.pink-outline {
    border: 1px solid #f7caca;
    background-color: #202731;
}

.black-word {
    color: black;
}

.pink-bg {
    background-color: #f7caca;
    color: black;
    border: 1px solid #f7caca;
}

.purple-outline {
    border: 2px solid #6979fa;
    background-color: #202731;
}

.darker {
    border: 1px solid #f7caca;
    color: white;
    background-color: #202731;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7caca;
}
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: black;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.img-container {
    max-height: 400px;
    overflow: auto;
}

#myImg {
    height: auto;
    width: 100%;
    border: 2px solid black;
    display: none;
}

textarea {
    height: 150px;
}

.logged-out {
    display: none;
}

.logged-in {
    display: none;
}

.trade-content {
    background-color: #202731;
}